<table datatable [dtOptions]="dtOptions" class="row-border hover table" id="tablaPersonas" width="100%">
  <thead><br>
    <tr class="table-info">
      <th scope="col">Nombre</th>
      <th scope="col">Identificación</th>
      <th scope="col">Cumpleaños</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Correo</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody *ngIf="personas?.length != 0">
    <tr *ngFor="let item of personas">
      <td> {{item.name}} </td>
      <td> {{item.id}} </td>
      <td> {{item.birthday.split('T')[0]}} </td>
      <td> {{item.phone}} </td>
      <td> {{item.email}} </td>
      <th>
        <button class="btn sm-btn btn-info firstbtn" (click)="editarPersona(item.id)">Editar</button>
        <button class="btn sm-btn btn-warning" (click)="eliminarPersona(item.id)">Eliminar</button>
      </th>
    </tr>
  </tbody>
  <tbody *ngIf="personas?.length == 0">
    <tr>
      <td colspan="6" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>
